
  <h4 class="text-center">Login</h4>
  <form class="form mb-t" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <input type="text" class="form-control mt-3"
      name="usuario" placeholder="nome do usuario"
      [(ngModel)]="usuario"
        #campoUsuario="ngModel"
        required
      />
      <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuario obrigatório">
     </app-mensagem>
    </div>
    <div class="form-group">
      <input type="password" class="form-control mt-3"
      [(ngModel)]="senha"
      #campoSenha="ngModel"
      required
      name="senha" placeholder="senha"/>
      <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha Obrigatório">
     </app-mensagem>
    <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="loginForm.invalid">Login</button>
  </form>
  <p>Não é um usuario ? <a [routerLink]="['novousuario']">Se cadastre!</a></p>

